<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Project</title>
  </head>
  <body>
    <h1>Hello Cohort 17</h1>
    <!-- send code to nodejs -->
    <% 
    console.log('Hello there');
    console.log('bla bla');
    %>
    <!-- safe print to html -->
    <%= (5+9) %>
    <!-- direct print html -->
    <%- '<p> 5 + 9 = </p>' %>
    

  </body>
</html>
